<!DOCTYPE html>
<html lang="en" class="fuelux">
  <head>
  <title>Datamart - {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <style> body { padding-top: 60px; } </style>

    <link href="http://fuelcdn.com/fuelux/2.2/css/fuelux.css" rel="stylesheet" />
    <link href="http://fuelcdn.com/fuelux/2.2/css/fuelux-responsive.css" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/chosen.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" />

    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      var IS_ADMIN = {% if current_user.is_authenticated() %}{{ current_user.is_admin|tojson|safe }}{% else %}false{% endif %};
    </script>
  </head>

  <body>

    {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{url_for('datamart.index')}}">Datamart</a>
          <div class="nav-collapse">
            <ul class="nav">
              {%- for endpoint, caption in [
                ('datamart.dimensions_view', 'Dimensions'),
                ('datamart.variables_view', 'Variables'),
                ('datamart.events_view', 'Events'),
                ('datamart.facts_view', 'Facts'),
                ('datamart.sources_view', 'Sources'),
                ] %}
                <li{% if endpoint == request.endpoint %} class=active{% endif %}><a href={{ url_for(endpoint) }}>{{ caption }}</a></li>
              {%- endfor %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subjects<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {%- for endpoint, caption in [
                    ('datamart.subjects_view', 'Subjects'),
                    ('datamart.externalIDs_view', 'External IDs'),
                    ] %}
                    <li{% if endpoint == request.endpoint %} class='active'{% endif %}><a href={{ url_for(endpoint) }}>{{ caption }}</a></li>
                  {%- endfor %}
                  </ul>
              </li>
              {% if current_user.is_admin %}
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {%- for endpoint, caption in [
                    ('datamart.roles_view', 'Roles'),
                    ('datamart.users_view', 'Users'),
                    ('datamart.upload', 'Upload Facts'),
                    ] %}
                    <li{% if endpoint == request.endpoint %} class='active'{% endif %}><a href={{ url_for(endpoint) }}>{{ caption }}</a></li>
                  {%- endfor %}
                </ul>
              </li> 
              {% endif %}
            </ul>
            {% block navbar_right %}
              {% if current_user.is_authenticated() %}
                <div class='pull-right'>
                  <a class='btn btn-primary' href="{{ url_for('security.logout') }}">Logout {{ current_user.username }}</a>
                </div>
              {% elif request.endpoint != 'security.login' %}
                <form class="navbar-form pull-right" action="{{url_for('security.login')}}" method="post">
                  {{ login_user_form.hidden_tag() }}
                  <input type="email" name='email' class="span2" placeholder="you@example.com">
                  <input type="password" name='password' class="span2" placeholder="Password">
                  <input type="submit" value="Login" class="btn"/>
                </form>
              {% endif %}
            {% endblock navbar_right %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock navbar %}

    <div class="container">
      <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category }}">
          <a class="close" data-dismiss="alert">&#215;</a>
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

      {% block container_content %}
        {% block footer %}
          <hr>
          <footer>
            <p>&copy; Company 2012 </p>
          </footer>
      {% endblock footer %}

      {% endblock container_content %}
    </div>

    {% block datamart_js_footer %}
    <script type="text/javascript" src="{{url_for('static', filename='js/ext/jquery-1.9.1.js')}}"></script>
    <script src="http://fuelcdn.com/fuelux-imh/2.2/loader.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/ext/chosen.jquery.js')}}"></script>
    <script>
      $(document).ready(function(){
        // Activate Chosen.js for select statements
        $('select').chosen({allow_single_deselect:true});
        // Turn on bootstrap tooltips
        $('a').tooltip(container=true);
      });
    </script>
    {% block page_specific_js %}
    {% endblock page_specific_js %}
    {% endblock datamart_js_footer %}
  </body>
</html>
